- @meetings_lists.each do |meetings_list|
  .index_row.clearfix
    h2.meetings_list_title
      = link_to meetings_list.title, meetings_list
    p.meetings_list_sub_title
      = meetings_list.responsible
.initial_button
  = link_to  "New meeting", new_meetings_list_path