<% @meetings_lists.each do |meetings_list| %>
  <div class="index_row clearfix">
    <h2 class="meetings_list_title"><%= link_to meetings_list.title, meetings_list %></h2>
    <p class="meetings_list_sub_title"> <%= meetings_list.responsible %></p>
  </div>
<% end %>
<h2 class="meetings_list_title"><%= "Meetings Application" %></h2>
<div class="links">
  <%= link_to  "New meeting", new_meetings_list_path %>
</div>

