<h1 class="meetings_list_title">New Meetings List</h1>
<div class="forms">
  <%= render 'form', meetings_list: @meetings_list %>
</div>

<div class="links">
  <%= link_to 'Back', meetings_lists_path %>
</div>

