/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import "flatpickr";
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';
@import './breakpoints/include-media';


$white_opaque: rgba(250, 250, 250, .3);
$shade_dark: #4B5E5B;
$shade_light: #7E9E99;
$light: #d4e7e3;
$dark: #1F7972;
$darker: rgb(18, 71, 67);

* {
	box-sizing: border-box;
	margin: 0
}

body {
	background-attachment: fixed;
	background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background: -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background: -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background: -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background: linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
	background-repeat: no-repeat;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



.clearfix:before,
.clearfix:after {
	content: " ";

}

.clearfix:after {
	clear: both;
}

/* Custom Alert styles */

.alert {
	border-radius: 0;
	margin: 0;
	border: none;
}

.alert.alert-success {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: $dark;
	font-weight: 400;
	padding: 9px;
	background-color: #dff0d8;
	border-color: #d6e9c6;

	@include media('>=phone', '<=tablet') {
		font-size: 10px;
	}
}

.alert.alert-danger {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding: 9px;
	color: white;
	font-weight: 400;
	background-color: rgb(235, 97, 97);
	border-color: rgb(204, 78, 78);

	@include media('>=phone', '<=tablet') {
		font-size: 10px;
	}
}

/* Navigation Pane Styles */

.navigation_bar {
	width: 80%;
	background-color: $darker;
	border-radius: 40px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
	padding: 14px 0;
	margin: 20px 0;
	p {
		font-size: 17px;
		color: $light;
		padding: 9px 16px;
	}

	a {
		color: white;
		padding: 9px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		transition: all 0.6s ease-in-out;
		text-decoration: none;

		&:hover {
			background-color: $light;
			color: $darker;
		}
	}

	.icon {
		display: none;
	}

	#mylinks {
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			font-size: 17px;
			color: $light;
			padding: 9px 16px;
			margin: 0;
		}

		a {
			border-radius: 30px;
			background: linear-gradient(145deg, #134c48, #10403c);
			box-shadow:  7px 7px 10px #0c2f2c, 
             			-7px -7px 10px #185f5a;
			color: white;
			padding: 9px 16px;
			text-decoration: none;
			width: 120px;
			text-align: center;
			margin: 0 15px;
			font-size: 15px;
			display: block;
			transition: all 0.6s ease-in-out;
			text-decoration: none;

			&:hover {
				background-color: $light;
				color: $darker;
			}
		}

	}

	@include media('>=phone', '<=tablet') {
		margin: 15px 10px;
		width: 90%;
		padding: 25px 0;
		position: relative;

		.icon {
			display: block;
			background: $darker;
			position: absolute;
			right: 1px;
			top: 2px;
			text-decoration: none;
			border-radius: 7px;

			i {
				padding-top: 7px;
			}

			&:hover {
				background-color: $light;
				color: $darker;
			}
		}

		#mylinks {
			display: none;
			text-align: center;
			position: relative;
			top: 23px;

			p {
				font-size: 11px;
				color: $light;
				padding: 8px 16px;
			}

			a {
				font-size: 13px;
				width: 100%;
				margin: 0;
				border-radius: 0;
				background: none;
				box-shadow: none;
			}
		}
	}
}


/* Container styles */

.container {
	width: 80%;
	height: 80%;
	background: $white_opaque;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
	padding: 1em 0;
	margin-bottom: 20px;

	@include media('>=phone', '<=tablet') {
		width: 90%;
		margin-bottom: 10px;
		font-size: 11px;
	}
}

.index_title_in {
	text-align: center;

	p.top {
		font-family: 'Oswald';
		font-size: 8rem;
		text-transform: uppercase;
		color: $shade_dark;

		span {
			font-family: 'Oswald';
			color: $shade_light;
			font-size: 8rem;
			text-transform: uppercase;
			padding: 0;
		}
	}
}

.meetings_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	color: $shade_dark;
	padding-bottom: 15px;

	a {
		text-decoration: none;
		color: $shade_dark;
		transition: all .4s ease-in-out;

		&:hover {
			opacity: 0.4;
		}
	}
}

.meetings_list_sub_title {
	margin: 0 0 1rem 0;
	text-align: center;
	font-size: 1em;
	color: $dark;
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250, 250, 250, .3);
	margin-bottom: 20px;

	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

.total {
	padding: 20px 0;
	text-align: center;
	font-size: 7vw;
	color: $dark;
	font-weight: 100;
}

/* Static Pages Styles */

#contact_style {
	text-align: center;
}


/* Meeting Items Styles */

#meetings_items_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	width: 100%;

	#form {
		width: 400px;
	}

	.items_container {
		width: 80%;
	}

	.row {
		margin: 0;
		border-top: 1px solid rgba(250, 250, 250, .3);
		border-bottom: 1px solid rgba(250, 250, 250, .3);

		.complete {
			width: 10%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250, 250, 250, .3);
			border-left: 1px solid rgba(250, 250, 250, .3);
			padding: 1em 0;
		}

		.meetings_item {
			width: 40%;
			float: left;

			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
				border-right: 1px solid rgba(250, 250, 250, .3);
			}
		}

		.meetings_reason {
			width: 20%;
			float: left;

			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
				border-right: 1px solid rgba(250, 250, 250, .3);
			}
		}

		.meetings_amount {
			width: 20%;
			float: left;

			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 100;
			}
		}

		.trash {
			width: 10%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250, 250, 250, .3);
			border-right: 1px solid rgba(250, 250, 250, .3);
			padding: 1em 0;
		}

		i {
			color: white;
			transition: all .4s ease-in-out;

			&:hover {
				color: $dark;
			}
		}

		input[type="text"] {
			width: 100%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250, 250, 250, .4);
			border: none;
			height: 50px;
			border-radius: 4px;
			padding: 1em 2em;
		}

		input[type="number"] {
			width: 100%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250, 250, 250, .4);
			border: none;
			height: 50px;
			border-radius: 4px;
			padding: 1em 2em;
		}

		input[type="date"] {
			width: 100%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250, 250, 250, .4);
			border: none;
			height: 50px;
			border-radius: 4px;
			padding: 1em 2em;
		}

		input[type="submit"] {
			background: rgb(255, 255, 255);
			outline: none;
			border: none;
			height: 50px;
			border-radius: 4px;
			width: 25%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;

			&:hover {
				background: $dark;
			}
		}

		::-webkit-input-placeholder {
			color: $dark;
		}
	}

	@include media('>=phone', '<=tablet') {
		#form {
			width: 90%;
		}

		.items_container {
			width: 90%;
			height: 160px;
			overflow: scroll;
			padding: 0 10px;

			.row {
				font-size: 11px;
			}

			input[type="submit"] {
				background: rgb(255, 255, 255);
				outline: none;
				border: none;
				height: 40px;
				border-radius: 4px;
				width: 100%;
				display: inline-block;
				transition: all .4s ease-in-out;
				cursor: pointer;

				&:hover {
					background: $dark;
				}
			}
		}
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;

	a {
		color: $shade_dark;
		font-size: 1.3rem;
	}
}

.forms {
	padding: 0 5%;
}

label {
	color: $dark;
	margin: 0;
}

input[type="text"],
textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, .4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}

textarea {
	height: 200px;
}

input[type="number"],
textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, .4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}

textarea {
	height: 200px;
}

input[type="date"],
textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, .4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}

textarea {
	height: 200px;
}

input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 100%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: $dark;

	&:hover {
		background: $dark;
		color: white;
	}
}

::-webkit-input-placeholder {
	color: $dark;
}

/* Devise Forms Makeup */

.devise_forms {
	display: flex;
	flex-direction: column;
	align-items: center;


	.field {
		width: 400px;
	}

	#field_checkbox {
		display: flex;
		align-content: center;
		padding-bottom: 20px;
		justify-content: left;
	}

	#user_remember_me {
		margin-right: 10px;
	}

	input[type="submit"] {
		box-shadow: 0 0.05em 0.05em 0 rgba(88, 87, 87, 0.5);
		background: white;
		outline: none;
		border: none;
		height: 40px;
		border-radius: 4px;
		width: 100%;
		display: inline-block;
		transition: all .4s ease-in-out;
		cursor: pointer;
		color: $dark;

		&:hover {
			background: $dark;
			color: white;
		}
	}

	input[value="Konto löschen"] {
		background: white;
		outline: none;
		border: none;
		height: 40px;
		border-radius: 4px;
		width: 100%;
		display: inline-block;
		transition: all .4s ease-in-out;
		cursor: pointer;
		color: $dark;

		&:hover {
			background: rgb(235, 97, 97);
			color: white;
		}
	}

	input[type="password"],
	textarea {
		width: 100%;
		margin: .5em 2% 1em 0;
		display: inline-block;
		outline: none;
		background: rgba(250, 250, 250, .4);
		border: none;
		height: 40px;
		border-radius: 4px;
		padding: 1em 2em;
		transition: all .4s ease-in-out;

		&:focus {
			background-color: $light;
		}
	}

	input[type="email"],
	textarea {
		width: 100%;
		margin: .5em 2% 1em 0;
		display: inline-block;
		outline: none;
		background: rgba(250, 250, 250, .4);
		border: none;
		height: 40px;
		border-radius: 4px;
		padding: 1em 2em;
		transition: all .4s ease-in-out;

		&:focus {
			background-color: $light;
		}
	}

	.google_signup {
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
		background: rgb(66, 133, 244);
		box-shadow: 0 0.05em 0.05em 0 rgba(88, 87, 87, 0.5);
		outline: none;
		border: none;
		height: 40px;
		border-radius: 4px;
		width: 100%;
		transition: all .4s ease-in-out;
		cursor: pointer;
		color: whitesmoke;

		&:hover {
			background: rgb(44, 92, 170);
			color: white;
		}

		a {
			text-align: center;
			color: whitesmoke;
			display: inline-block;
			position: relative;
			z-index: 1;
			padding: 10px;
			width: 100%;
			height: 100%;
		}
	}

	.form_subtittle {
		text-align: center;
		padding-top: 15px;
		font-weight: 300;
		text-transform: uppercase;

	}

	.actions {
		margin-bottom: 8px;
	}

	.last_links {
		display: flex;
		align-items: center;
	}

	.last_links a {
		padding: 10px;
		color: inherit;
	}

	@include media('>=phone', '<=tablet') {
		overflow: scroll;
		height: 100%;

		.meetings_list_title {
			margin-bottom: 5px;
		}

		.field {
			width: 80vw
		}

		label {
			padding: 5px 0;
		}

		input[type="email"],
		textarea {
			margin: 0;

		}

		input[type="password"],
		textarea {
			margin: 0;
		}

		.actions {
			margin-top: 20px;
			margin-bottom: 5px;
		}
	}
}