/* HOME PAGE Settings */
@import './breakpoints/include-media';

$white_opaque: rgba(250, 250, 250, .3);
$shade_dark: #4B5E5B;
$shade_light: #7E9E99;
$light: #fbfffe;
$dark: #1F7972;
$darker: rgb(18, 71, 67);

/* Static Home Page */
.index_title {
  text-align: center;
  padding-top: 150px;

  p.top {
    font-size: 10vw;

    font-family: 'Oswald';
    text-transform: uppercase;
    color: $darker;
    span {
      font-family: 'Oswald';
      color: $dark;
      text-transform: uppercase;
      padding: 0;
    }

    @include media('>=phone', '<=tablet') {

      font-family: 'Oswald';
      text-transform: uppercase;
      color: $darker;

      span {
        font-family: 'Oswald';
        color: $dark;
        text-transform: uppercase;
        padding: 0;
      }
    }

  }
}

.initial_button {
  text-align: center;
  padding-top: 20px;

  a {
    border-radius: 13px;
    background: #a9dad6;
    box-shadow: 8px -8px 16px #91bbb8,
      -8px 8px 16px #c1f9f4;
    width: 20%;
    color: $dark;
    display: inline-block;
    padding: 6px 43px;
    margin: 5px 20px;
    border-radius: 19px;
    text-decoration: none;
    font-size: 1vw;
    transition: all 1s ease;
    &:hover {
      width: 21%;
      color: $darker;
      background-color: $white_opaque;
      text-decoration: none;
    }
  }

  @include media('>=phone', '<=tablet') {
    a {
      width: 30%;
      border-radius: 13px;
      background: $white_opaque;
      box-shadow: -4px 4px 7px #91bbb8,
        4px -4px 7px #c1f9f4;
      font-size: 3vw;
      transition: all 1s ease;
      padding: 5px;
      &:hover {
        width: 31%;
        color: $darker;
        background-color: $white_opaque;
        text-decoration: none;
    }
    }
    
  }
}

/*common style back button for static pages*/

.back_link {
  padding-top: 20px;

  a {
    color: $darker;
  }
}

/* Static Help Page */

.static_container {

  .inner_text {
    margin: 0 auto;
    background-color: $white_opaque;
    padding: 40px 80px;
    width: 50vw;
    border-radius: 5px;
  }
}