/* HOME PAGE Settings */
@import './breakpoints/include-media';

$white_opaque: rgba(250, 250, 250, .3);
$shade_dark: #4B5E5B;
$shade_light: #7E9E99;
$light: #fbfffe;
$dark: #1F7972;
$darker: rgb(18, 71, 67);

.index_title {
  text-align: center;
  padding-top: 150px;
  p.top {
    @include media('>=phone', '<=tablet' ) {
      font-size: 10vw;
    }
    font-family: 'Oswald';
    text-transform: uppercase;
    color: $darker;
    font-size: 10vw;
    span {
      font-family: 'Oswald';
      color: $dark;
      text-transform: uppercase;
      padding: 0;
    }
  }
}



.initial_button {
  text-align: center;
  padding-top: 20px;
  a {
    @include media('>=phone', '<=tablet' ) {
      width: 80%;
      margin: 0;
    }
    width: 20%;
    color: $light;
    display: inline-block;
    background-color: $darker;
    padding: 6px 43px ;
    margin: 5px 20px;
    border-radius: 19px;
    transition: all 1s;
    text-decoration: none;
    &:hover {
      background-color: $shade_dark;
      color: white;
      border: none;
      text-decoration: none;
    }
  }
}