// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  
  td {
    padding-bottom: 15px;
    padding-right: 10px;
  }

  input[value="Change Role"] {
    background: white;
    outline: none;
    border: none;
    height: 24px;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    transition: all .4s ease-in-out;
    cursor: pointer;
    color: #1F7972;
  }
}