doctype html
html
  head
    title
      | Spende App 
      = yield(:title)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    link[href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&family=Oswald:wght@300;500&display=swap" rel="stylesheet" type="text/css"]
    link[href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"]
    meta name="viewport" content="width=device-width"
    / Global config for input masking in Cleave library
    javascript:
        window.__AMOUNT_INPUT_MASK__ = {
        prefix: "#{raw Money.default_currency.symbol} ",
        numeral: true,
        numeralThousandsGroupStyle: 'thousand',
        rawValueTrimPrefix: true,
        numeralDecimalMark: ',',
        delimiter: '.'
        };
  body
    - if notice
      p.alert.alert-success
        = notice
    - if alert
      p.alert.alert-danger
        = alert
  = render 'devise/nav_partial/nav'
  .container
    = yield